@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName)
        <br /> <br />
        @Html.Label("Açıklamayı yazınız")
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription)
        <br />
        <button class="btn btn-outline-primary" id="buton">Kategoriyi Ekle</button>
    </div>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $('#buton').click(function () {
        swal({
            title: "Tebrikler!",
            text: "Kategori başarılı bir şekilde eklendi.",
            buttons: false,
            icon: "info",
            timer: 6000
        }).then(function () {
            window.location.reload(false);
            tr.hide();
        });
    });
</script>