@model EntityLayer.Concrete.Talent
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yetenek Güncelle </h2>
@using (Html.BeginForm("Update", "Talent", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Yetenek ID")
    @Html.TextBoxFor(x => x.TalentID, new { @class = "form-control" })
    <br />
    @Html.Label("Ad Soyad")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkımda")
    @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek 1")
    @Html.TextBoxFor(x => x.Skill1, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek 2")
    @Html.TextBoxFor(x => x.Skill2, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek 3")
    @Html.TextBoxFor(x => x.Skill3, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek 4")
    @Html.TextBoxFor(x => x.Skill4, new { @class = "form-control" })
    <br />
    @Html.Label("Yetenek 5")
    @Html.TextBoxFor(x => x.Skill5, new { @class = "form-control" })
    <br />
    @Html.Label("Oran 1")
    @Html.TextBoxFor(x => x.Rate1, new { @class = "form-control" })
    <br />
    @Html.Label("Oran 2")
    @Html.TextBoxFor(x => x.Rate2, new { @class = "form-control" })
    <br />
    @Html.Label("Oran 3")
    @Html.TextBoxFor(x => x.Rate3, new { @class = "form-control" })
    <br />
    @Html.Label("Oran 4")
    @Html.TextBoxFor(x => x.Rate4, new { @class = "form-control" })
    <br />
    @Html.Label("Oran 5")
    @Html.TextBoxFor(x => x.Rate5, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Yeteneği Güncelle</button>
</div>
}